.nav {
  background-color: #373737;
  color: rgba(255, 255, 255, 0.87);
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
}

.space {
  background-color: black;
  height: 0.75rem;
}

.navList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.25rem;
}

.navItems {
  padding: 1rem;
  color: #ffffff;
  display: none;
  height: 100%;
  text-decoration: none;
}

.navItemsActive {
  padding: 1rem;
  color: #ffffff;
  display: none;
  height: 100%;
  text-decoration: none;
  background-color: #8dc63f;
}

.navItemsPending {
  padding: 1rem;
  color: #ffffff;
  display: none;
  height: 100%;
  text-decoration: none;
}

.button {
  padding: 1rem;
  display: block;
  margin-left: auto;
  height: 100%;
  width: 3rem;
}

.dropdown {
  display: block;
}

.dropdownItem {
  display: block;
  padding: 1rem;
  color: #ffffff;
  height: 100%;
  text-decoration: none;
}

.dropdownItemActive {
  display: block;
  padding: 1rem;
  color: #ffffff;
  height: 100%;
  text-decoration: none;
  background-color: #8dc63f;
}
.dropdownItemPending {
  display: block;
  padding: 1rem;
  color: #ffffff;
  height: 100%;
  text-decoration: none;
}

/* .button:active,
.button:focus {
  background-color: #8dc63f;
} */

@media (min-width: 1024px) {
  .navItems {
    display: block;
  }
  .navItemsActive {
    display: block;
  }
  .navItemsPending {
    display: block;
  }
  .button {
    display: none;
  }
  .dropdown {
    display: none;
  }
}
